.Banner-Principal .boton {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  margin-right: 1.25em;
  cursor: pointer;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  font-size: 1.12em;
}

#funfacts {
  color: green;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #141414;
  font-family: 'Open Sans', sans-serif;
}

.contenedor {
  width: 90%;
  margin: auto;
}

header {
  padding: 30px 0;
}

header .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logotipo {
  font-family: 'Orbitron', sans-serif;
  color: #971200;
  font-size: 30px;
}

header nav a {
  color: #AAA;
  text-decoration: none;
  margin-right: 20px;
}

header a:hover,
header a.activo {
  color: #FFF;
}

/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.Banner-Principal {
  font-size: 16px;
  min-height: 40.62em;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(images/Poster_Landscape1.webp);
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(images/Poster_Landscape1.webp);
  background-position: center center;
  background-size: cover;
  margin-bottom: 3.12em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.Banner-Principal .contenedor {
  margin: 0 auto;
  margin-bottom: 6.25em;
}

.Banner-Principal .Titulo {
  font-weight: 600;
  font-size: 3.12em;
  margin-bottom: 0.4em;
}

.Banner-Principal .Descripcion {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
  max-width: 50%;
  margin-bottom: 1.25em;
}

.Banner-Principal .boton:hover {
  background: #fff;
  color: #000;
}

.Banner-Principal .boton:hover i {
  margin-right: 1.25em;
}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.contenedor-titulo-controles h3 {
  color: #fff;
  font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
  background: #fff;
  height: 3px;
  width: 10px;
  cursor: pointer;
  border: none;
  margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
  background: red;
}

/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.capturas-principales {
  margin-bottom: 70px;
}

.capturas-principales .contenedor-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.capturas-principales .contenedor-principal .flecha-izquierda,
.capturas-principales .contenedor-principal .flecha-derecha {
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  height: 50%;
  top: calc(50% - 25%);
  line-height: 40px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 500;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

.capturas-principales .contenedor-principal .flecha-izquierda:hover,
.capturas-principales .contenedor-principal .flecha-derecha:hover {
  background: rgba(0, 0, 0, 0.9);
}

.capturas-principales .contenedor-principal .flecha-izquierda {
  left: 0;
}

.capturas-principales .contenedor-principal .flecha-derecha {
  right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.capturas-principales .contenedor-carousel {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

.capturas-principales .contenedor-carousel .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.capturas-principales .contenedor-carousel .carousel .pelicula {
  min-width: 20%;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.capturas-principales .contenedor-carousel .carousel .pelicula.hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.capturas-principales .contenedor-carousel .carousel .pelicula img {
  width: 100%;
  vertical-align: top;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
  header .logotipo {
    margin-bottom: 10px;
    font-size: 30px;
  }
  header .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .Banner-Principal {
    font-size: 14px;
  }
  .Banner-Principal .Descripcion {
    max-width: 100%;
  }
  .capturas-principales .contenedor-carousel {
    overflow: visible;
  }
  .capturas-principales .contenedor-carousel .carousel {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .capturas-principales .indicadores,
  .capturas-principales .flecha-izquierda,
  .capturas-principales .flecha-derecha {
    display: none;
  }
}

.Banner-Principal .movie-detail .set {
  display: inline-block;
  margin-right: 64px;
}

.Banner-Principal .movie-detail label {
  font-size: 14px;
  color: #ededed;
  display: block;
}

.Banner-Principal .movie-detail span {
  font-size: 22px;
}
/*# sourceMappingURL=style.css.map */
